#sup{
    height: 40px;
    width: 100px;
  }
  
  .egale{
    width: 100px;
    height: 40px;
  }
  .nn{
    height: 40px;
    width: 50px; 
  }
  #resulta{
    width: 17%;
    height: 33px;
    
  }